{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block main %}
<div class="hero-image">
    <div class="hero-text">
        <p style="font-size: 50px; color: #6ccde5">
            <h1 style="color: #000000">START,</h1><h1 style="color: green">what are you WAITING for,</h1>
            <h1 style="color: black">And Remember</h1>
            <h1 style="color: red">NEVER STOP GRINDING</h1>
            <br>
            <br>
            <h6 style="color: #0000ff">Be sure to checkout the leader-board to check where you stand in</h6>
        </p>
    </div>
</div>
{% endblock %}